.loginMid {
        display: flex;
        justify-content: space-between;
        align-items: center;
             }

	 .autoLogin {
          font-size: 12px;
          color: #8d8d8d;
          line-height: 3;
        }
	
	.container{
		font-size: 11px;
		
	}

	.btn-social-login {
  transition: all .2s;
  outline: 0;
  border: 1px solid transparent;
  padding: .5rem !important;
  border-radius: 50%;
  color: #fff;
	}
	.btn-social-login:focus {
 	 box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
	}
	
	.text-dark { color: #343a40!important;}
	
	